* {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
body {
  background: #e3e6ea;
  font-family: 'Libre Baskerville', serif;
  color:#585859;
}
.title{
  text-align: center; 
  font-size:40px;
  font-family: 'Libre Baskerville', serif;
  color:#585859;
  padding:30px; 
  
}

nav {
  background: white;
  padding: 20px;
  text-align: center;
}

nav li{
  display: inline;
  padding-right:20px;
  color:#585859;
  font-size: 20px;

}

nav li a{
  
  text-decoration: none;
  color:#585859;
  font-family: 'Libre Baskerville', serif;
  font-weight:800;
  display: inline-block;
  transition: transform 0.2s cubic-bezier(.4,.02,.88,1.32);
}

nav li a:hover{
  transform: scale(1.2);


}

header{
  height:450px;
}

.fa-bars{
  float:right;
  color:#585859;
  font-size: 1.5rem;
  margin-right: 10px;

}

.quote,.linktoblog{
  width:100%;
  font-size: 25px;
  font-weight:500;
  text-align: center;
  display: block;
  height:200px;
  overflow:auto;
  margin-top:100px;
  
}

.tina{
  font-weight: 800;
}

.linktoblog{
  
  font-weight:800;
  margin: auto;
  border-radius:0.2em;
  border:solid 2px white;
  background: #8e8e91;
  max-width:200px;
  max-height: 90px;
  padding-top: 25px;
  transition:all 0.3s linear;
  animation-iteration-count: infinite;


}

.linktoblog a{
  text-decoration: none;
  color:white;
}

/*animation*/
.linktoblog{
   animation-duration: 1s;
   animation-name: shaker;
}

.linktoblog:hover{
  background: #5d6066;
}


@keyframes shaker {
  0% {
    transform:rotate(0deg);
  }

  29% {
    transform:rotate(0deg);
  }


  30% {
    transform:rotate(1deg);
  }

  31% {
    transform:rotate(2deg);
  }

  33% {
    transform:rotate(1deg);
  }

  35% {
    transform:rotate(0deg);
  }

  37% {
    transform:rotate(-1deg);
  }

  39% {
    transform:rotate(-2deg);
  }

  41% {
    transform:rotate(-1deg);
  }

  43% {
    transform:rotate(0deg);
  }


  45% {
    transform:rotate(1deg);
  }

  47% {
    transform:rotate(2deg);
  }

  49% {
    transform:rotate(1deg);
  }

  51% {
    transform:rotate(0deg);
  }

  53% {
    transform:rotate(-1deg);
  }

  55% {
    transform:rotate(-2deg);
  }

  57% {
    transform:rotate(-1deg);
  }

  59% {
    transform:rotate(0deg);
  }


  100%{
    transform:rotate(0deg);
  }
}


.babies{
  height:300px;
  width:100%;
}

.rightbabies{
    position: absolute;
    top: 80px;
    right: 80px;
    width: 200px;
    height: 100px;}

.babyleft{
    position: absolute;
    top: 80px;
    left: 50px;
    width: 200px;
    height: 100px;
}



/****contact page***/
h1
{text-align:center;}

.contactform{
  margin-left:100px;
}

.contactform h1{
  font-size:24px;
  font-weight:800;
}

.contactform ul {
 list-style-type: none;
}

.contactform li{margin-bottom:20px;
  list-style-type:none;

    }

fieldset legend {font-weight:600;
  
}

.contactform legend{
  margin-bottom: 20px;
  
}

.quiz h1{
  font-weight: 800;
  font-size:30px;
  text-align: center;
  padding:20px;
}

.quiz img{
  width:400px;
}

.art{
  text-align: center;
  font-size: 24px;

}

/*---blog page---*/

body{
  background-color: white;
}

.top h1{
  text-align: center;
  font-size:40px;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin-top:15%;
  margin-bottom:5%;
}


.main h1{
  font-size:30px;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin:10% 0;
  line-height: 50px;
  float:left;
}

.main{
      position: relative;
      max-width: 400px;
      font-size:20px;
      letter-spacing: 2%;
      line-height: 40px;
      margin-left: 20px;
}

.main li{
  padding: 80px;
  
}

.main li h2{
  font-weight: 800;
  font-size:30px;
  padding-bottom: 10%;
  line-height: 50px;
}

.main h3{
  font-size:30px;
  position:relative;
  margin-left: 100px;
}

.main img{
  padding-bottom: 5%;
  width:600px;
}

.yay img{
  width:200px;
  margin-left: 100px;
}

.instagram{
  position: absolute;
    top: 2100px;
    right: 90px;
    width: 200px;
    height: 100px;
    width: 25%;
  display: inline-block;

}

.instagram h3{
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 30px;
}

.instagram a{
  text-decoration: none;
  color: grey;
}

.instagram a:hover{
  color:black;
}

 


/*---sidebar---*/
#sidebar {
  position: absolute;
    top: 1600px;
    right: 0;
    width: 200px;
    height: 100px;
    width: 25%;
  display: inline-block;
}

#sidebar h3{
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 20px;
}

#sidebar li a{
  color: grey;
  font-size: 20px;
  font-weight: 800;
  line-height: 50px;
  text-decoration: none;
}

#sidebar li a:hover{
  color: #454647;


}



/*---start parallax---*/

.parallax{
 background: url(../images/type.png)no-repeat center fixed;
 background-size: 100% 50%;
          -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      

}



/*---end parallax---*/


/*---start parallaxone index---*/

.parallaxone{
 background: url(../images/pic.png)no-repeat top center fixed;
         -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:600px;
}



/*---end parallaxone---*/

/***desktop style***/

@media screen and (min-width: 768px){

#hamburger{
  display: none;
}

nav li{
  display: inline;
  padding-right:20px;

}

.top h1{
  font-size:50px;
}

.parallax{
 height:600px;
}

.main h1{
  font-size:150%;
  width:700px;
  text-align: center;

}

.main img{
  width:700px;
  float:left;
}

.main li h2{
  font-size:120%;
}

.main h3{
  font-size:120%;
}

.main p, .main li{
  width: 600px;
}

.hide {
  display: none;
  margin-top: 30px;
}

.hidetwo{
  display: none;
}



.readless{
position: relative;

}

.yay img{
  width:400px;
}

footer {
  padding: 65px 0 45px;
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}

.mama{
  margin:center;
  text-decoration: none;
}





}

@media screen and (max-width: 500px){
/**blog page mobile style**/
.parallax{
 height:300px;
 max-width: 500px;
}
.main img{
  width:500px;
}

.main p{
  font-size: 15px;
  max-width: 380px;
}

.main h1{
  float:left;
  max-width: 400px;
  font-size: 20px;
}

.main li h2{
  font-size:90%;
  max-width: 400px;
}

.main h3{
  font-size:90%;
  max-width: 400px;
}

.main li{
  padding: 30px;
}

.yay img{
  width:150px;
}

footer {
  height:500px;
  padding: 65px 0 45px;
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}

#sidebar{
    position: absolute;
    top: 6800px;
    left: 0 ;
    width: 200px;
    height: 100px;
}

.instagram{
  position: absolute;
  top:7200px;
  left: 10px;
  width: 200px;
  height: 100px;
}

.readmore{
  display:none;
}


/***blog page mobile style end***/

/***index page mobile style***/

.babiesright{
  display:none;
}

.rightbabies{
  display: none;
}

.quote{
  font-size: 17px;
  padding-left: 5px;
  padding-right:5px;
  float:left;

}

.linktoblog{
  font-size: 20px;
  margin: auto;
}

.babies{
  margin:15% 25% 0;

}

.parallaxone{
display:none;
}

.babyleft{
  margin-top: 40px;
}

nav{
  display: none;
}

/***index page mobile style end***/







